{% extends "layout.html" %}

{% block img_source %}
https://static.igem.wiki/teams/5560/citrik/pepcitrus-in-defense-png.webp
{% endblock %}
{% block img_alt %}
Pepcitrus in defense of citrus crops
{% endblock %}

{% block page_content %}

<div class="row">
  <div class="col">
    <p class="text text-center">Citrus fruits are cultivated in over 140 countries.</p>
    <p class="text text-center">
      They are among the most popular and widely produced fruit crops
      worldwide!
    </p>

    <img class="mx-auto d-block standard-img"
	 src="https://static.igem.wiki/teams/5560/citrik/mundo-laranjinha-1.webp"
	 alt="Mundo laranjinha">

    <p class="text">
      Citrus and its products are a rich source of
      vitamins, minerals and dietary fibre that are essential for
      overall nutritional well-being.
    </p>

    <p class="text">
      In addition to being nutritionally important worldwide, citrus
      fruits are essential to the economies of several countries,
      especially Brazil, the largest exporter of orange juice.
    </p> 

    <img class="mx-auto d-block standard-img"
	 src="https://static.igem.wiki/teams/5560/citrik/brasil-e-caixas-de-laranja.webp"
	 alt="Brazil and orange boxes">

    <p class="text text-center">
      However, in recent years, citrus fruit
      production has declined significantly due to pre- and post-harvest
      diseases.
    </p>

    <img class="mx-auto d-block standard-img"
	 src="https://static.igem.wiki/teams/5560/citrik/arvore-amarelada-e-laranjinhas.webp"
	 alt="Yellowed tree and little oranges">


    <div class="row align-items-center">
      <div class="col-4">
	<img class="entire-width-image"
	     src="https://static.igem.wiki/teams/5560/citrik/bacterias-e-fungos.webp"
	     alt="Yellowed tree and little oranges">
      </div>
      <div class="col-8">
	<p class="text">
	  Currently there is no efficient method for controlling or
	  detecting this disease, leading to environmental risks due
	  to excessive pesticide use.
	</p>
      </div>
    </div>

    <p class="text text-center">
      To address this, Pepcitrus proposes sustainable and innovative
      strategies to combat citrus diseases.
    </p>

    <img class="mx-auto d-block standard-img"
	 src="https://static.igem.wiki/teams/5560/citrik/laranjinha-ninja.webp"
	 alt="Laranjinha ninja">

    <p class="text text-center">
      Our solution
    </p>

    <img class="mx-auto d-block standard-img"
	 src="https://static.igem.wiki/teams/5560/logos/logo-laranja-final-2png.webp"
	 alt="Logo pepcitrus">

    <p class="text text-center">
      Using antimicrobial peptides (AMPs), which are small proteins
      with antimicrobial activity, produced and delivered through
      biotechnological platforms as sustainable tools to control
      citrus diseases and reduce reliance on chemical inputs.
    </p>

    <img class="mx-auto d-block standard-img"
	 src="https://static.igem.wiki/teams/5560/citrik/all-goes-well.webp"
	 alt="Oranges happily on a tree">

  </div>
</div>
<div class="row mt-4">

</div>

{% endblock %}
