{% extends "layout.html" %}
  
{% block title %}Public engagement{% endblock %}
{% block lead %} Engagement with a citric flavor {% endblock %}

{% block page_content %}
<div class="row mt-4">
  <div class="col">
    <h2> We at school fair </h2>
    <hr />
    <p> It was thrilling seeing the joy for learning in the eyes of the students. It's this sort of activity that brings forward our greatest love for mankind.</p>

    <h2> We at the farm </h2>
    <hr />
    <p> Talking to the people who help bringing life to our table. </p>
  </div>
</div>

{% endblock %}
