@import url('https://fonts.cdnfonts.com/css/sugar-pie');

@font-face {
  font-family: 'Agrandir';
  src: url('fonts/Agrandir-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #3F7D20;
  --secondary: #72B01D;
  --title: #F6D000;
  --subtitle: #FF9100;
  --light: #FFF1D3;
  --background: #FFFBF0;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--subtitle);
  /* highlight color for active nav items */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  padding-top: 56px;
  background-color: var(--background);
  font-family: 'Agrandir', sans-serif;
}

h1 {
  font-family: 'Sugar Pie', cursive;
  color: var(--title);
}

h2 {
  font-family: 'Sugar Pie', cursive;
  color: var(--subtitle);
}

h3,
h4,
h5,
h6 {
  font-family: 'Agrandir', sans-serif;
  color: var(--secondary);
}

.left-aligned {
  margin-left: auto;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-hero {
  background-color: var(--primary);
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius: .25rem
}

.bd-callout h4 {
  margin-bottom: 1.25rem
}

.bd-callout p:last-child {
  margin-bottom: 0
}

.bd-callout code {
  border-radius: .25rem
}

.bd-callout+.bd-callout {
  margin-top: -.25rem
}

.bd-callout-info {
  border-left-color: #5bc0de
}

.bd-callout-warning {
  border-left-color: #f0ad4e
}

.bd-callout-danger {
  border-left-color: #d9534f
}

/* footer */
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}

/* navbar */
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #3344ff;
  color: #000000;
}

.navbar-nav {
  --bs-nav-link-hover-color: rgba(123, 89, 8, 0.75);
}

.nav-link {
  color: #000000;
}

.navbar-nav .nav-link.show {
  color: #8c8778;
}

.menu {
  background: #FFFFFF;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 241, 211, 1) 100%);
}

.dropdown-menu {
  border-radius: 0;
  border: 0;
  --bs-dropdown-bg: var(--light);
  --bs-dropdown-spacer: 0;
}

.dropdown-item:hover {
  background-color: rgba(224, 192, 96, .1);
}

.entire-width-image {
  width: 100%;
  padding-bottom: 25px;
}

.text {
  font-size: 30px;
}

.navbar-brand {
  color: black;
  border-radius: 50%;
}

.navbar-brand:hover {
  color: rgba(123, 89, 8, 0.75);
}

.standard-img {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 50%;
}
