{% extends "layout.html" %}

{% block title %}Meet Our Team{% endblock %}
{% block lead %}Indivíduos que tornaram nosso projeto iGEM possível. Conheça nossos membros, instrutores e
orientadores.{% endblock %}

{% block page_content %}



<div class="row mt-4">
  <div class="col">
    <h2>Our Team</h2>
    <hr />
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for member in team_members %}
  {% set delay = loop.index0 %}
  {% include 'components/member_card.html' %}
    {# hidden anchor for navbar: member name as a subsection under the H2 #}
    <h3 id="anchor-{{ member.name | replace(' ', '-') | replace('.', '') | replace(',', '') | lower }}" class="visually-hidden">{{ member.name }}</h3>
  {% endfor %}
</div>


<div class="row mt-5">
  <div class="col">
    <h2>Advisors and Instructors</h2>
    <hr />
  </div>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for member in advisors %}
  {% set delay = loop.index0 %}
  {% include 'components/member_card.html' %}
    <h3 id="anchor-{{ member.name | replace(' ', '-') | replace('.', '') | replace(',', '') | lower }}" class="visually-hidden">{{ member.name }}</h3>
  {% endfor %}
</div>

{% endblock %}
